* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua",
    Georgia, serif;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  -webkit-box-shadow: 5px 5px 32px -7px #000000;
  box-shadow: 5px 5px 32px -7px #000000;
}

.header,
.footer {
  font-size: 50px;
  padding: 20px;
}

.divider {
  border-bottom: 1px solid black;
  width: 100%;
}

.wrapper-main {
  width: 100%;
  display: flex;
  margin: 10px 0;
}

.avatar-wrap {
  flex-basis: 40%;
}

.avatar,
.randomBtn {
  text-align: center;
  margin-bottom: 20px;
}

button {
  border: none;
  background-color: pink;
  padding: 10px;
  border-radius: 4px;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua",
    Georgia, serif;
  font-size: 1.5rem;
  cursor: pointer;
}

button:hover {
  -webkit-box-shadow: 1px 5px 16px 3px rgba(0, 0, 0, 0.27);
  box-shadow: 1px 5px 16px 3px rgba(0, 0, 0, 0.27);
}
.avatar {
  position: relative;
  height: 300px;
}
.avatar img {
  max-width: 280px;
  position: absolute;
  left: 15%;
}

.options {
  flex-basis: 60%;
}

.parts-list {
  display: flex;
  flex-wrap: wrap;
}

.parts-list > div {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid black;
}

.parts-list > div:hover {
  background-color: pink;
}

.btn-clicked {
  background-color: pink;
}
.part-wrapper {
  padding: 10px;
  margin: 10px;
  max-height: 300px;
  overflow: auto;

  border-radius: 4px;
}
.item-display {
  display: flex;
  flex-wrap: wrap;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
}
.item-list div > img:hover {
  border-radius: 4px;
  background-color: pink;
}

a {
  text-decoration: none;
  color: black;
}

.background-dark {
  background-color: #fab1a0;
  margin: 5px;
  border-radius: 4px;
}

h2 {
  background-color: pink;
  padding: 5px;
  border-radius: 4px;
}

@media (max-width: 700px) {
  .wrapper-main {
    flex-direction: column;
    align-items: center;
  }
  .avatar > div {
    width: 280px;
    height: 300px;
  }
  .avatar > div > img {
    left: 0;
  }
}
