* {
  box-sizing: border-box;
}

body {
  background-color: #0a3d62;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  letter-spacing: 0.6px;
  word-spacing: -5px;
  color: #000000;
}

.header {
  font-size: 50px;
  color: #fff;
}
.main-content {
  display: flex;
}
h2 {
  color: white;
}
.avatar-group {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.avatar-wrapper {
  border: 1px solid #fff;
  display: inline-block;
  position: sticky;
  top: calc(50% - 205px);
  border-radius: 4px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  background-color: #fff;
}
.avatar {
  height: 250px;
  position: relative;
  width: 200px;
}

.avatar img {
  position: absolute;
}

.text-center {
  text-align: center;
  margin-bottom: 10px;
}

.list-section {
  max-width: 700px;
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
  padding: 10px;
  border-radius: 4px;
}

.item-image {
  border: 3px solid #fff;
  padding: 5px;
  margin: 2px;
  border-radius: 4px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  background-color: #fff;
}
.item-image:hover {
  box-shadow: #2d234266 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
  background-color: #487eb0;
}

.randomBtn {
  border-radius: 4px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  height: 40px;
  padding: 0 10px;
  text-align: left;
  border: none;
  font-size: 1.5rem;
}

.randomBtn:hover {
  box-shadow: #2d234266 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
}

.randomBtn:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
}

@media (max-width: 1200px) {
  .list {
    max-width: 600px;
  }
  .avatar-group {
    flex-direction: column;
    align-items: center;
  }
}
